<!DOCTYPE html>
<html>
<head>
    <title><%=title %> - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
    <div class="container">
			<span class="home-logo">
				<a href="/index-active"><%=title %></a>
			</span>
        <nav id="navbar">
            <ul>
                <li class="current"><a href="/dashboard">Dashboard</a></li>
                <li><a href="/users/logout">Log Out</a></li>
                <li><a href="/about-active">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div style="margin-top:40px"></div>

<div class="container">
    <center><h1>Hey there! What do you want to sell?</h1></center>

      <section id="sell">
          <div class="container">
            <div align="right">
              <form action="ADD TEXT HERE" method="sell">
                  <div>
                      <label>Name: </label>
                      <input type="text" name="name" placeholder="Name" required>
                  </div>
                  <div>
                      <label>Price: </label>
                      <input type="number" name="price" placeholder="Price" required>
                  </div>
                  <div>
                      <label>Photo: </lavel>
                      <input type="file">
                  </div>
                  <center><button class="button_1" type="submit">Post</button></center>
              </form>
          </div>
        </div>
      </section>
</div>

<footer>
    <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
</body>
</html>
