!DOCTYPE html>
<html>
<head>
    <title><%=title %> - Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
    <div class="container">
			<span class="home-logo">
				<a href="/"><%=title %></a>
			</span>
        <nav id="navbar">
            <ul>
                <li><a href="/users/dashboard">Dashboard</a></li>
                <li><a href="/users/logout">Log Out</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div style="margin-top:40px"></div>

<div class="container">
    <h1>Dashboard, Welcome <%= %> </h1>
</div>

<footer>
    <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
</body>
</html>
