<!DOCTYPE html>
<html>
<head>
  <title><%=title %> - Home</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
  <div class="container">
			<span class="home-logo">
				<a href="/index-active"><%=title %></a>
			</span>
    <nav id="navbar">
      <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/users/logout">Log Out</a></li>
        <li><a href="/about-active">About</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <div class="latest_transaction">
    <center><h1>Latest Transaction</h1></center>
  </div>

  <center>
  <table>
    <tr>
      <td colspan="5" bgcolor="#A9A9A9"><font size="4">
        <strong>Seller 1's Items</strong></font></td>
    </tr>
  <tr>
    <td><strong>Item ID</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Photo</strong></td>
    <td><strong>Price</strong></td>
    <td><strong>Status</strong></td>
  </tr>
  <tr>
    <td>Item 1's ID</td>
    <td>Item 1's Name</td>
    <td>Item 1's Photo</td>
    <td>Item 1's Price</td>
    <td><button class="buy" type="buy">Buy</button></td></td>
  </tr>
  <tr>
    <td>Item 2's ID</td>
    <td>Item 2's Name</td>
    <td>Item 2's Photo</td>
    <td>Item 2's Price</td>
    <td><button class="buy" type="buy">Buy</button></td></td>
  </tr>
  <tr>
    <td>Item 3's ID</td>
    <td>Item 3's Name</td>
    <td>Item 3's Photo</td>
    <td>Item 3's Price</td>
    <td><button class="buy" type="buy">Buy</button></td></td>
  </tr>
  <tr>
    <td>Item 4's ID</td>
    <td>Item 4's Name</td>
    <td>Item 4's Photo</td>
    <td>Item 4's Price</td>
    <td><button class="buy" type="buy">Buy</button></td></td>
  </tr>
  <tr>
    <td>Item 5's ID</td>
    <td>Item 5's Name</td>
    <td>Item 5's Photo</td>
    <td>Item 5's Price</td>
    <td><button class="buy" type="buy">Buy</button></td></td>
  </tr>
</table>

<table>
  <tr>
    <td colspan="5" bgcolor="#A9A9A9"><font size="4">
      <strong>Seller 2's Items</strong></font></td>
  </tr>
<tr>
  <td><strong>Item ID</strong></td>
  <td><strong>Name</strong></td>
  <td><strong>Photo</strong></td>
  <td><strong>Price</strong></td>
  <td><strong>Status</strong></td>
</tr>
<tr>
  <td>Item 1's ID</td>
  <td>Item 1's Name</td>
  <td>Item 1's Photo</td>
  <td>Item 1's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 2's ID</td>
  <td>Item 2's Name</td>
  <td>Item 2's Photo</td>
  <td>Item 2's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 3's ID</td>
  <td>Item 3's Name</td>
  <td>Item 3's Photo</td>
  <td>Item 3's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 4's ID</td>
  <td>Item 4's Name</td>
  <td>Item 4's Photo</td>
  <td>Item 4's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 5's ID</td>
  <td>Item 5's Name</td>
  <td>Item 5's Photo</td>
  <td>Item 5's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
</table>

<table>
  <tr>
    <td colspan="5" bgcolor="#A9A9A9"><font size="4">
      <strong>Seller 3's Items</strong></font></td>
  </tr>
<tr>
  <td><strong>Item ID</strong></td>
  <td><strong>Name</strong></td>
  <td><strong>Photo</strong></td>
  <td><strong>Price</strong></td>
  <td><strong>Status</strong></td>
</tr>
<tr>
  <td>Item 1's ID</td>
  <td>Item 1's Name</td>
  <td>Item 1's Photo</td>
  <td>Item 1's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 2's ID</td>
  <td>Item 2's Name</td>
  <td>Item 2's Photo</td>
  <td>Item 2's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 3's ID</td>
  <td>Item 3's Name</td>
  <td>Item 3's Photo</td>
  <td>Item 3's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 4's ID</td>
  <td>Item 4's Name</td>
  <td>Item 4's Photo</td>
  <td>Item 4's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
<tr>
  <td>Item 5's ID</td>
  <td>Item 5's Name</td>
  <td>Item 5's Photo</td>
  <td>Item 5's Price</td>
  <td><button class="buy" type="buy">Buy</button></td></td>
</tr>
</table>
</center>

<footer>
  <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
</body>
</html>
