<!DOCTYPE html>
<html>
<head>
    <title><%=title %> - Item Details</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<!--Header-->
<header>
    <div class="container">
			<span class="home-logo">
				<a href="/index-active"><%=title %></a>
			</span>
        <nav id="navbar">
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/users/logout">Log Out</a></li>
                <li><a href="/about-active">About</a></li>
            </ul>
        </nav>
    </div>
</header>

<div style="margin-top:40px"></div>

<div class="container">
    <center><h1>Item Details</h1></center>

      <section id="sell">
          <div class="container">
            <div align="right">
              <form action="ADD TEXT HERE" method="sell">
                <div>
                    <label>Item ID: </label>
                    <input type="number" name="id" placeholder="DISPLAY ITEM ID HERE" required autofocus>
                </div>
                  <div>
                      <label>Name: </label>
                      <input type="text" name="name" placeholder="DISPLAY NAME HERE" required>
                  </div>
                  <div>
                      <label>Description: </label>
                      <input type="text" name="description" placeholder="DISPLAY DESCRIPTION HERE" required>
                  </div>
                  <div>
                      <label>Price: </label>
                      <input type="number" name="price" placeholder="DISPLAY PRICE HERE" required>
                  </div>
                  <div>
                      <label>Photo: </lavel>
                      <input type="number" name="photo" placeholder="DISPLAY PHOTO HERE" required>
                  </div>
                  <div>
                    <label>Status: </label>
                    <input type="text" name="status" placeholder="DISPLAY STATUS HERE" required>
                  </div>
                  <center>
                    <button class="buy" type="buy">Buy Item</button>
                    <button class="return" onclick="window.location.href='/index-active';">Return to List</button>
                  </center>
              </form>
          </div>
        </div>
      </section>
</div>

<footer>
    <h2>Copyrights &copy; Reserved by Big Market, 2019.</h2>
</footer>
</body>
</html>
