body{
	background:#f4f4f4;
	color:#555;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	line-height:1em;
	margin:0;
}

/* Global */
.container{
	margin:auto;
	overflow: hidden;
	height:100%;
	width:100%;
}

ul{
	margin:0;
	padding:0;
}

/* Normal button layout */
.button_1{
	border: 2px solid #DEDEDE;
	border-radius: 10px;
	cursor: pointer;
	padding:10px;
	font-size:20px;
	background:#3b5998;
	color:white;
	margin-top:20px;
	width:30%;
}

/* Buy button layout */
.buy {
	border: 2px solid #DEDEDE;
	border-radius: 10px;
	cursor: pointer;
	padding:5px;
	font-size:15px;
	background:#3ad80a;
	color:white;
	width:100%;
}

/* Buy(Disabled) button layout */
.login {
	border: 2px solid #DEDEDE;
	border-radius: 10px;
	cursor: pointer;
	padding:5px;
	font-size:15px;
	background:#A9A9A9;
	color:white;
	width:100%;
}

/* Header */
header{
	background:#3b5998;
	min-height:100px;
	color:white;
	border-bottom: solid #8b9dc3 5px;
}

header .home-logo a{
	float:left;
	margin-top:25px;
	font-size:40px;
	color:white;
	text-decoration: none;
}

header nav{
	float:right;
	margin-top:35px;
}

header li{
	float:left;
	display: inline;
}

header a{
	margin:1em;
	color:white;
	text-decoration: none;
	font-size:25px;
}

header .current a{
	color: #8b9dc3;
	font-weight: bold;
}

header a:hover{
	color:#dfe3ee;
	font-weight: bold;
}

header .home-logo a:hover{
	color: #dfe3ee;
	font-weight: bold;
}

/* Transaction */
.latest_transaction h1{
	font-style: italic;
	font-size:40px
}

/* Table Layout */
table {
	display: inline-table;
	margin: 0 10px;
	grid-template-columns: repeat(3,1fr);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color:white;
}

/* Form layouts */
#login, #signup {
	background:#f4f4f4;
	border-radius: 50px;
	border:5px solid #b7b7b7;
	width: 30%;
	margin:auto;
	margin-top:50px;
	padding:20px;
	text-align: center;
}

#sell {
	background:#f4f4f4;
	border-radius: 50px;
	border:5px solid #b7b7b7;
	width: 50%;
	margin:auto;
	margin-top:25px;
	padding:20px;
	text-align: center;
}

#login label, #signup label{
	display: block;
	margin-top:20px;
	font-size:30px;
}

#sell label{
	margin-top:20px;
	font-size:20px;
}

#login input, #signup input{
	width:70%;
	height:40px;
	margin:auto;
	margin-top:10px;
	padding:5px;
	font-size:20px;
}

#sell input{
	width:70%;
	height:30px;
	margin:auto;
	margin-top:20px;
	padding:5px;
	font-size:15px;
}

/* About Us */
#about-us h1{
	font-size:30px;
}

#about-us p{
	border-radius: 25px;
	border:5px solid #b7b7b7;
	background-color: #e8e8e8;
	padding:15px;
	font-size:20px;
}

footer{
	background:#3b5998;
	text-align: center;
	font-size:15px;
	margin-top: 150px;
	padding:10px;
	color:white;
	border-top: solid 5px #8b9dc3;
	position: relative;
	bottom: 0;
	width:100%;
	height:60px;
}
